<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>

	<log4net>
		<appender name="LoggerFile" type="log4net.Appender.RollingFileAppender">
			<!-- ログファイルのパス -->
			<File value="D:\scoreCreator.log" />
			<!-- 追加書き込み -->
			<appendToFile value="true" />
			
			<layout type="log4net.Layout.PatternLayout">
				<!-- ログの書式 -->
				<conversionPattern value="%d[%t] %p - %m%n"/>
			</layout>
		</appender>

		<root>
			<level value="All" />
			<!-- どのログ出力先を使用するか -->
			<appender-ref ref="LoggerFile" />
		</root>
	</log4net>
</configuration>